@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin col($a, $b) {
  width: col-width($a, $b);
  float: left;

  &:not(:last-child) {
    margin-right: $gutter-horizontal;
  }
}

// MEDIA QUERY MANEGER
/*
  < 6oo px: phone
  600 px - 900 px: tablet portrait
  900 - 1200 px: tablet landscape
  .. normal styles apply ..
  1800 px <: big desktop
  
  $breakpoint arg options:
  - phone
  - tab-port
  - tab-land
  - big-desktop
  */

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  } @else if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  } @else if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  } @else if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
