.feature-box {
  position: relative;
  background-color: #eeeded;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba($color-shadow, 0.15);

  &-img {
    width: 100%;
    height: 45rem;
    background-size: cover;
    background-blend-mode: screen;
    border-radius: 1rem;

    @media (min-width: 576px) {
      height: 40rem;
    }
    @media (min-width: 768px) {
      height: 35rem;
    }
    @media (min-width: 992px) {
      height: 40rem;
    }
    &-1 {
      filter: brightness(70%);
      background-image: linear-gradient(
          to right bottom,
          rgb(216, 137, 108) 15%,
          rgb(0, 0, 0) 100%
        ),
        url(../resources/img/craft.png);
    }
    &-2 {
      filter: brightness(70%);
      background-image: linear-gradient(
          to right bottom,
          rgb(216, 137, 108) 15%,
          rgb(0, 0, 0) 100%
        ),
        url(../resources/img/sport.png);
    }
    &-3 {
      filter: brightness(70%);
      background-image: linear-gradient(
          to right bottom,
          rgb(216, 137, 108) 15%,
          rgb(0, 0, 0) 100%
        ),
        url(../resources/img/conversation.png);
    }
    &-4 {
      filter: brightness(70%);
      background-image: linear-gradient(
          to right bottom,
          rgb(216, 137, 108) 15%,
          rgb(0, 0, 0) 100%
        ),
        url(../resources/img/bible.png);
    }
  }

  h2 {
    position: absolute;
    bottom: 0rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #eeeded;
  }
}
