*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  color: #151819;
  @media (min-width: 375px) {
    h1 {
      font-size: 2.8rem;
    }

    h2 {
      font-size: 2.6rem;
    }

    p {
      font-size: 2.3rem;
    }

    div {
      font-size: 2.3rem;
    }

    ul {
      font-size: 2.3rem;
    }

    li {
      font-size: 2.3rem;
    }

    .btn {
      font-size: 2.3rem;
    }

    footer p {
      font-size: 2.1rem;
    }

    footer h3 {
      font-size: 2.4rem;
    }

    #camp-details {
      p {
        font-size: 2.3rem;
      }
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    h1 {
      font-size: 4.5rem;
    }

    h2 {
      font-size: 4rem;
    }

    p {
      font-size: 3.6rem;
    }

    div {
      font-size: 3.6rem;
    }

    ul {
      font-size: 3.6rem;
    }

    li {
      font-size: 3.6rem;
    }

    .btn {
      font-size: 3.6rem;
    }

    footer p {
      font-size: 2.2rem;
    }

    footer h3 {
      font-size: 2.6rem;
    }

    #camp-details {
      p {
        font-size: 2.6rem;
      }
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    h1 {
      font-size: 4.5rem;
    }

    h2 {
      font-size: 4rem;
    }

    div {
      font-size: 3.6rem;
    }

    p {
      font-size: 3.6rem;
    }

    ul {
      font-size: 3.6rem;
    }

    li {
      font-size: 3.6rem;
    }

    .btn {
      font-size: 3.6rem;
    }

    footer p {
      font-size: 2.2rem;
    }

    footer h3 {
      font-size: 2.6rem;
    }

    #camp-details {
      p {
        font-size: 2.6rem;
      }
    }
  }

  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    h1 {
      font-size: 4.5rem;
    }

    h2 {
      font-size: 4rem;
    }

    p {
      font-size: 3.6rem;
    }

    div {
      font-size: 3.6rem;
    }

    ul {
      font-size: 3.6rem;
    }

    li {
      font-size: 3.6rem;
    }

    .btn {
      font-size: 3.6rem;
    }

    footer p {
      font-size: 2.2rem;
    }

    footer h3 {
      font-size: 2.6rem;
    }

    #camp-details {
      p {
        font-size: 2.6rem;
      }
    }
  }

  // XX-Large devices (larger desktops, 1400px and up)
  @media (min-width: 1400px) {
    h1 {
      font-size: 4.5rem;
    }

    h2 {
      font-size: 4rem;
    }

    p {
      font-size: 3.6rem;
    }

    div {
      font-size: 3.6rem;
    }

    ul {
      font-size: 3.6rem;
    }

    li {
      font-size: 3.6rem;
    }

    .btn {
      font-size: 3.6rem;
    }

    footer p {
      font-size: 2.2rem;
    }

    footer h3 {
      font-size: 2.6rem;
    }

    #camp-details {
      p {
        font-size: 2.6rem;
      }
    }
  }
}

body {
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #eeeded;
  font-family: "Open Sans", sans-serif;
}
