[class*="section"] {
  height: fit-content;
  max-width: 100vw;
  padding-bottom: 2rem;
  h1 {
    padding-top: 2rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  .row {
    max-width: 100vw;
    margin-right: auto;
    margin-left: auto;
  }
}

[class*="__content"] {
}

.section-organization {
  -moz-box-shadow: inset 0 10px 5px inset 0px 11px 8px -10px $color-shadow,
    inset 0px -11px 8px -10px $color-shadow;
  -webkit-box-shadow: inset 0px 11px 8px -10px $color-shadow,
    inset 0px -11px 8px -10px $color-shadow;
  box-shadow: inset 0px 11px 8px -10px $color-shadow,
    inset 0px -11px 8px -10px $color-shadow;
  padding-top: 5rem;
  padding-bottom: 5rem;

  &__logo-box {
    &__logo {
      height: 15vh;
      width: auto;
    }
  }
}

.section-camp {
  background-color: #d8896c;
  h1 {
    color: #eeeded;
  }
  p {
    color: #eeeded;
  }

  img {
    width: 50%;
    height: auto;
    padding: 1%;
    background-color: #eeeded;
    border-radius: 1rem;
  }
}

#camp-details {
  p {
    padding-bottom: 1rem;
    color: black;
    span {
      color: #d8896c;
      font-weight: bold;
    }
    #duration {
      color: #d8896c;
      font-weight: normal;
    }
  }
  .map {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    &__responsive {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.section-programe {
  background-color: #eeeded;
  -moz-box-shadow: inset 0 10px 5px inset 0px 11px 8px -10px $color-shadow,
    inset 0px -11px 8px -10px $color-shadow;
  -webkit-box-shadow: inset 0px 11px 8px -10px $color-shadow,
    inset 0px -11px 8px -10px $color-shadow;
  box-shadow: inset 0px 11px 8px -10px $color-shadow,
    inset 0px -11px 8px -10px $color-shadow;
  height: fit-content;

  h1 {
    background: -webkit-linear-gradient(#d8896c, #d6a391);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.section-team {
  background-color: #d8896c;
  .responsive-img {
    width: 100%;
    max-width: 400rem;
    height: auto;
    border-radius: 1rem;
  }

  h1 {
    color: #eeeded;
  }

  p {
    color: #eeeded;
  }
}

.section-price {
  background-color: #eeeded;
  -moz-box-shadow: inset 0 10px 5px inset 0px 11px 8px -10px $color-shadow,
    inset 0px -11px 8px -10px $color-shadow;
  -webkit-box-shadow: inset 0px 11px 8px -10px $color-shadow,
    inset 0px -11px 8px -10px $color-shadow;
  box-shadow: inset 0px 11px 8px -10px $color-shadow,
    inset 0px -11px 8px -10px $color-shadow;

  h1 {
    background: -webkit-linear-gradient(#d8896c, #d6a391);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    text-align: center;
    color: black;
    font-style: italic;
    &:not(:last-child) {
      padding-top: 2em;
      font-style: normal;
    }
    span {
      color: #d8896c;
      font-weight: bold;
    }
  }

  .btn {
    width: fit-content;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    &-lg {
      @media (min-width: 576px) {
        font-size: 2.2rem;
      }
      @media (min-width: 768px) {
        font-size: 3.6rem;
      }
      @media (min-width: 992px) {
        font-size: 3.6rem;
      }
      @media (min-width: 1200px) {
        font-size: 3.6rem;
      }
    }
    &-secondary {
      &:hover {
        background-color: #d8896c;
        color: #eeeded;
      }
    }
  }
}

.card-title {
  text-align: center;
}
