.footer {
  padding: 3rem;
  background-color: #d8896c;
  color: #eeeded;

  &__header {
    padding-bottom: 0.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }

  p {
    font-family: "Open Sans", sans-serif;
  }

  span {
    margin-left: 0.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }

  a {
    color: #eeeded;
    &:hover {
      color: #b2b2b2;
    }
  }
}
